@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

html,
body {
  height: 100%;
  font-family: "Lobster", cursive;
}

.carousel {
  height: 50%;
  background-image: url("../img/1306217.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 125%;
}

#about {
  height: 50%;
  background-image: url("../img/wood-1819542_1920.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
