@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");

html,
body {
  height: 100%;
  font-family: "Lobster", cursive;
}

.heading-style {
  font-family: "Lobster", cursive;
}

#index-outer {
  height: 100%;
  background-image: url("../img/1306217.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 125%;
  border-top: 1px solid transparent; /* Bug fix */
}

.carousel {
  width: 50%;
  height: 50%;
}

.carousel-item img {
  height: 100%;
}

#about-outer {
  height: 100%;
  background-image: url("../img/1306217.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 125%;
  color: black;
  border-top: 1px solid transparent; /* Bug fix */
}

#welcome-text {
  font-size: 1.5em;
  width: 70%;
}

#welcome-text strong {
  font-weight: 900;
  font-size: 1.25em;
}

#logo-button {
  font-size: 3em;
}

.nav-wrapper li a {
  font-size: 1.5em;
}

#logo-button,
#welcome-text,
#about-outer,
#add-recipe-outer,
#edit-recipe-outer {
  padding-left: 0.25em;
}

.card-size {
  height: 15em;
  width: 100%;
}

nav,
footer {
  background-image: url("../img/Y9CsAi.jpg");
}

footer .container {
  padding-bottom: 0.5em;
}

footer .container i {
  /*padding-left: 2.5em;*/
  text-shadow: 2px 2px 4px #000000;
}

.fa-instagram {
  padding: 0 2.5em 0 2.5em;
}

.custom-card-title {
  height: 3em;
}

.activator:hover {
  cursor: pointer;
}

#delete-button a {
  color: inherit;
}

#delete-button {
  width: 7em;
  padding: 0 0 0 1%;
  text-shadow: 2px 2px 4px #000000;
}

#delete-button i {
  padding-right: 10%;
}

#submit-button {
  width: 12em;
  text-shadow: 2px 2px 4px #000000;
}

#add-recipe-outer {
  height: 140%; /* Brute force bug fix */
  background-image: url("../img/fYQk0K.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid transparent; /* Bug fix */
}

#edit-recipe-outer {
  height: 140%; /* Brute force bug fix */
  background-image: url("../img/fYQk0K.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid transparent; /* Bug fix */
}

#about-text {
  width: 60%;
}

#about-text p {
  font-size: 1.5em;
  font-family: "Indie Flower", cursive;
  /*font-family: "Architects Daughter", cursive;*/
  /*font-family: "Amatic SC", cursive;*/
  /*font-family: "Sansita Swashed", cursive;*/
  /*font-family: "Chilanka", cursive;*/
  /*font-family: "Josefin Sans", cursive;*/
}

#mobile-demo {
  background-image: url("../img/1844480.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-reveal p,
#recipe-details-outer p {
  font-family: "Indie Flower", cursive;
}

.bold-font {
  font-weight: bold;
}

#recipe-details-outer {
  height: 140%; /* Brute force bug fix */
  background-image: url("../img/fYQk0K.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid transparent; /* Bug fix */
}

#recipe-details-outer p {
  font-weight: 900;
  font-size: 2em;
}

#recipe-details-text {
  width: 50%;
  position: left;
  border: 2px solid blue;
}

#recipe-details-img {
  width: 50%;
  position: absolute;
  border: 2px solid red;
}

#edit-recipe-form {
  background-image: url("../img/4BXEYp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#add-recipe-form {
  background-image: url("../img/NMEt5b_cut.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ------------------------Split the screen in half------------------- */
/*.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
/*.left {
  left: 0;
}

/* Control the right side */
/*.right {
  right: 0;
}

/* If you want the content centered horizontally and vertically */
/*.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
/*.centered img {
  width: 100%;
  border-radius: 50%;
}

/* ------------------------Split the screen in half (end)------------------- */

#page-404 {
  height: 100%;
  background-image: url("../img/error-404-concept-landing-page_52683-18367.jpg");
  background-position: center;
  background-repeat: no-repeat;
  border-top: 1px solid transparent; /* Bug fix */
}

#recipe-details-outer img {
  width: 25em;
  border-radius: 50%;
}
