{% extends 'base.html' %} {% block content %}

<div id="about-outer">
  <div id="about-text">
    <h3>About</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lobortis
      tempor ipsum quis auctor. Sed aliquet purus vel lectus aliquet, sit amet
      gravida erat consequat. Donec sed pellentesque felis. Phasellus luctus
      magna arcu, sit amet venenatis ipsum ultricies id. Praesent pulvinar
      ligula justo, sed ornare felis commodo vitae. In vel porttitor lacus.
      Integer arcu quam, accumsan quis fringilla sit amet, vulputate sit amet
      tortor. Vestibulum et interdum velit. Pellentesque convallis pretium
      ipsum, ut tincidunt mauris scelerisque faucibus. Etiam dictum leo sed
      risus feugiat, a vehicula lacus dignissim. Quisque placerat quam eget
      turpis ornare egestas. Nulla at pretium enim.
    </p>
  </div>
</div>
{% endblock %}
