{% extends 'base.html' %} {% block content %}
<div id="add-recipe-outer">
  <h3 class="center">Add a Recipe</h3>
  <div class="row">
    <form action="{{ url_for('insert_recipe') }}" method="POST" class="col s12">
      <div class="row">
        <div class="col s12">
          <div id="add-recipe-form" class="card blue-grey darken-1">
            <div class="card-content black-text">
              <div class="row">
                <div class="input-field col s6">
                  <i class="material-icons prefix">spellcheck</i>
                  <textarea
                    id="recipe_name"
                    name="recipe_name"
                    class="materialize-textarea"
                  ></textarea>
                  <label for="icon_prefix">Recipe Name</label>
                </div>

                <div class="input-field col s6">
                  <i class="material-icons prefix">alarm</i>
                  <textarea
                    id="preparation_time"
                    name="preparation_time"
                    class="materialize-textarea"
                  ></textarea>
                  <label for="icon_prefix">Preparation Time</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s6">
                  <i class="material-icons prefix">short_text</i>
                  <textarea
                    name="recipe_description"
                    id="recipe_description"
                    class="materialize-textarea"
                  ></textarea>
                  <label for="icon_prefix">Recipe Short Description</label>
                </div>

                <div class="input-field col s6">
                  <i class="material-icons prefix">insert_link</i>
                  <textarea
                    name="image_src"
                    id="image_src"
                    class="materialize-textarea"
                  ></textarea>
                  <label for="icon_prefix">Recipe Image Link</label>
                </div>
              </div>
                <br />
                <br />
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">subject</i>
                  <textarea
                    name="recipe_details"
                    id="recipe_details"
                    class="materialize-textarea"
                  ></textarea>
                  <label for="icon_prefix">Recipe Detailed Description</label>
                </div>
              </div>

              <div class="row">
                <button class="btn waves-effect waves-light" type="submit">
                  Add Recipe
                  <i class="material-icons right">library_add</i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
