<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='img/Q-favicon3.ico')}}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
      type="text/css"
    />
    <title>Q-zine</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="{{url_for('index_page')}}" class="brand-logo" id="logo-button"
          >Q-zine</a
        >
        <a href="#" data-activates="mobile-demo" class="button-collapse"
          ><i class="material-icons">menu</i></a
        >
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{{url_for('recipes_list')}}">Browse Recipes</a></li>
          <li><a href="{{url_for('add_recipe')}}">Post Recipe</a></li>
          <li><a href="{{url_for('about')}}">About</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="{{url_for('recipes_list')}}">Browse Recipes</a></li>
          <li><a href="{{url_for('add_recipe')}}">Post Recipe</a></li>
          <li><a href="{{url_for('about')}}">About</a></li>
        </ul>
      </div>
    </nav>

    {% block content %} {% endblock %}

    <footer class="page-footer footer-copyright">
      <div class="container">
        © 2020 Copyright UVC
        <a class="grey-text text-lighten-4 right" href="#!"
          ><i class="fab fa-facebook"></i
        ></a>
        <a class="grey-text text-lighten-4 right" href="#!"
          ><i class="fab fa-instagram"></i
        ></a>
        <a class="grey-text text-lighten-4 right" href="#!"
          ><i class="fab fa-twitter"></i
        ></a>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
  </body>
</html>
