{% extends 'base.html' %} {% block content %}

<div class="row">
  {% for recipe in recipes %}

  <div class="col s12 m3">
    <div class="card">
      <div class="card-image">
        <img
          class="card-size"
          src="{{recipe.image_src}}
"
          alt="recipe card image"
        />
        <a
          href="{{url_for('edit_recipe', recipe_id=recipe._id)}}"
          class="btn-floating halfway-fab waves-effect waves-light red btn tooltipped"
          data-position="top"
          data-tooltip="Edit"
          ><i class="material-icons">mode_edit</i></a
        >
      </div>
      <div class="card-content">
        <span class="card-title grey-text text-darken-4"
          ><div class="custom-card-title">{{recipe.recipe_name}}</div>
          <i class="material-icons right medium"
            ><a
              class="tooltipped activator"
              data-position="bottom"
              data-tooltip="Preview"
              >unfold_more</a
            ></i
          ></span
        >
        <p>
          <a
            href="{{ url_for('recipe_details', recipe_id=recipe._id) }}"
            class="waves-effect waves-light btn btn_size"
            >View</a
          >
        </p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"
          >{{recipe.recipe_name}}
          <i class="material-icons right">close</i></span
        >
        <p class="bold-font">
          {{recipe.recipe_description}}
        </p>
        <p class="bold-font">
          <i class="material-icons prefix">alarm</i> {{recipe.preparation_time}}
        </p>
        <p>
          <a
            href="{{ url_for('recipe_details', recipe_id=recipe._id) }}"
            class="waves-effect waves-light btn btn_size heading-style"
            >View</a
          >
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
