{% extends 'base.html' %}
{% block content %}
    <ul class="collapsible" data-collapsible="accordion">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header">

                <div class=" task_header col s9">
                    <i class="material-icons">expand_more</i> {{recipe.recipe_name}} - {{recipe.course}}
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    {{recipe.preparation_time}}
                    <br />
                    {{recipe.recipe_description}}
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}